*{
    box-sizing: border-box;
}

#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#reset-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

#reset-button {
    border-style: none;
    padding: 10px 20px;
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-radius: 10px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 900px;
}

#container > div {
    outline: 1px solid;
    background-color: lightgray;
    margin: 0;
    border: 0;
    aspect-ratio: 1/1;
}